
.weigth{
    text-align: center;
    font-weight: bold;
}

.align{
    text-align: center;
}
.margin{
    margin-top: 20%;
}

.left{
    margin-left: 60%;
}
.line{
    text-decoration-line: underline;
}