*{
    margin: 0;
    padding: 0;
}
.head{
    position: fixed;
    margin-top: 30px;
    margin-left: 900px;
    border-bottom: 0.2px solid olive;

}
.item{
    display: inline-block;
    list-style: none;
    padding: 5px 10px;
    border-bottom: 0.2px solid transparent;
}
.item:hover{
    border-bottom: 2px solid olive;
}
