*{
    margin: 0;
    padding: 0;
}

.parent{
    width: 500px;
    height: 150vh;
    margin: auto;
    background-color: gold;
    position: relative;
}

.child{
    width: 150px;
    height: 150px;
    background-color: green;
}

.red{
    position: absolute;
    background-color: red;
    z-index: 10;
    
    /* left: 50%;
    margin-left: -75px;
    top: 50%;
    margin-top: -75px; */

    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.fixed{
    background-color: turquoise;
    position: fixed;
    z-index: 5;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.sticky{
    background-color: violet;
    position: sticky;
    top: 100px;
    left: 0;
    /*display: ;*/
}